<a href="https://colab.research.google.com/github/ummeafruz/Machine-Learning-Sessional/blob/main/Regression(Task1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Experiment Name: Exploring different types of Regression`

Experiment No: 01

Couse No: ETE 456 

Course Name: Neural and Fuzzy Systems in Communications Sessional

Submitted By:

                  Name: Umme Afruz

                  Id: 1608011

                  Level: 4

                  Term: II


**Objective**: 
 1. *To get familiar with regression in machine learning.*
 2. *To learn about different types of regression algorithms.*
 3. *To apply various regression algorithms on the real world dataset.*

### **Task**

### Prediction of Insurance Costs:

In [ ]:
import warnings
warnings.filterwarnings("ignore")

### Import the libraries:
Pandas is an open-source python library that is used for data manipulation and analysis. It provides many functions and methods to speed up the data analysis process. NumPy stands for 'Numerical Python'. It is an open-source Python library used to perform various mathematical and scientific tasks. It contains multi-dimensional arrays and matrices, along with many high-level mathematical functions that operate on these arrays and matrices.

In [ ]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt

### Dataset:

In [ ]:
# Download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-20 18:54:31--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-20 18:54:32--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com/cd/0/inline/BcPq5pE7lucrAbJpKwaB-IBtrk6kdOLt-6X7sUtZG-1bvNCgh65juA60GMKIvhjNYza4SzKragpDhHRCj8Kbhz-2Ommqq5pjC7Mew-ooks5zidf4EOb71pBdgUwATmbDZdzZEBbqmCOv2yfvH76C68TQ/file# [following]
--2021-12-20 18:54:33--  https://ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com/cd/0/inline/BcPq5pE7lucrAbJpKwaB-IBtrk6kdOLt-6X7sUtZG-1bvNCgh65juA60GMKIvhjNYza4SzKragpDhHRCj8Kbhz-2Ommqq5pjC7Mew-ooks5zidf4EOb71pBdgUwATmbDZdzZEBbqmCOv2yfvH76C68TQ/file
Resolving ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com (ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601d:15::a27d:50f
Connecting to ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com (ucddd6c542343ab482bda8b6b4fb.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.01s

2021-12-20 18:54:33 (3.56 MB/s) - ‘insurance.csv’ saved [55628/55628]

## Importing the dataset

In [ ]:
dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]


Now splitting the data into independent & dependent variable is necessary.Independent are those that we are going to used for prediction or are the features. Dependent are those that we have to predict.

In [ ]:
feature = dataset[['age','sex','children','bmi','smoker','region']]  # for independent
target = dataset[['charges']]   # for dependent

In [ ]:
feature

      age     sex  children     bmi smoker     region
0      19  female         0  27.900    yes  southwest
1      18    male         1  33.770     no  southeast
2      28    male         3  33.000     no  southeast
3      33    male         0  22.705     no  northwest
4      32    male         0  28.880     no  northwest
...   ...     ...       ...     ...    ...        ...
1333   50    male         3  30.970     no  northwest
1334   18  female         0  31.920     no  northeast
1335   18  female         0  36.850     no  southeast
1336   21  female         0  25.800     no  southwest
1337   61  female         0  29.070    yes  northwest

[1338 rows x 6 columns]

In [ ]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [ ]:
dataset.isnull().value_counts()

age    sex    bmi    children  smoker  region  charges
False  False  False  False     False   False   False      1338
dtype: int64

There is no missing data or NAN value in this dataset.

#Encoding Categorial data
Categorical variables are usually represented as ‘strings’ or ‘categories’ and are finite in number. Machine learning models require all input and output variables to be numeric. This means that if your data contains categorical data, you must encode it to numbers before you can fit and evaluate a model.

### One Hot Encoding:
One hot encoding is a process of converting categorical data variables so they can be provided to machine learning algorithms to improve predictions. With one-hot, we convert each categorical value into a new categorical column and assign a binary value of 1 or 0 to those columns.

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
encoder=OneHotEncoder(sparse=False)
encoded_labels = pd.DataFrame (encoder.fit_transform(feature[['smoker','sex','region']]))

In [ ]:
encoded_labels.columns = encoder.get_feature_names(['smoker','sex','region'])
dataset= pd.concat([feature, encoded_labels ], axis=1)

In [ ]:
dataset

      age     sex  ...  region_southeast  region_southwest
0      19  female  ...               0.0               1.0
1      18    male  ...               1.0               0.0
2      28    male  ...               1.0               0.0
3      33    male  ...               0.0               0.0
4      32    male  ...               0.0               0.0
...   ...     ...  ...               ...               ...
1333   50    male  ...               0.0               0.0
1334   18  female  ...               0.0               0.0
1335   18  female  ...               1.0               0.0
1336   21  female  ...               0.0               1.0
1337   61  female  ...               0.0               0.0

[1338 rows x 14 columns]

In [ ]:
dataset.columns

Index(['age', 'sex', 'children', 'bmi', 'smoker', 'region', 'smoker_no',
       'smoker_yes', 'sex_female', 'sex_male', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [ ]:
new_features = dataset[['age','bmi','children','smoker_no', 'smoker_yes','sex_female', 'sex_male','region_northeast', 'region_northwest','region_southeast', 'region_southwest']]

### Splitting the Dataset:
The train-test split is a technique for evaluating the performance of a machine learning algorithm. It can be used for classification or regression problems and can be used for any supervised learning algorithm.

**Train Dataset:** Used to fit the machine learning model.

**Test Dataset:** Used to evaluate the fit machine learning model.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
"""Spliting the Dataset into Training Set and Test Set """

X_train,X_test,y_train,y_test=train_test_split(new_features,target,test_size = 0.25,random_state = 0)
# random_state = 0 is select to get the same result

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1003, 11)
(335, 11)

In [ ]:
X_train

      age    bmi  ...  region_southeast  region_southwest
1075   32  29.59  ...               1.0               0.0
131    61  22.04  ...               0.0               0.0
15     19  24.60  ...               0.0               1.0
1223   20  24.42  ...               1.0               0.0
1137   26  22.23  ...               0.0               0.0
...   ...    ...  ...               ...               ...
763    27  26.03  ...               0.0               0.0
835    42  35.97  ...               1.0               0.0
1216   40  25.08  ...               1.0               0.0
559    19  35.53  ...               0.0               0.0
684    33  18.50  ...               0.0               1.0

[1003 rows x 11 columns]

Different types of Regression Algorithms are given below:


1. Linear Regression (Univariate or Multivariate)

2. Support Vector Regression

3. Decision Tree Regression

4. Random Forest Regressrion

### Multiple linear regression
Multiple Linear Regression is one of the important regression algorithms which models the linear relationship between a single dependent continuous variable and more than one independent variable.

In [ ]:
# Fitting Multiple Linear Regression Model to Training Set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [ ]:
regressor.fit(X_train,y_train)

LinearRegression()

In [ ]:

# Predicting the Test Set Results
y_pred = regressor.predict(X_test)

In [ ]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
574   13224.05705
1174   4433.91590
1327   9377.90470
817    3597.59600
1337  29141.36030

[335 rows x 1 columns]

In [ ]:
y_pred

array([[11121.10140924],
       [ 9369.08345223],
       [38349.2588068 ],
       [16331.93500645],
       [ 7041.22770615],
       [ 4103.24923177],
       [ 1734.03805961],
       [14478.86491464],
       [ 9168.77981235],
       [ 7715.94671029],
       [ 4625.04765547],
       [10398.53755318],
       [ 8756.48015868],
       [ 3738.25833927],
       [28190.41129687],
       [10600.67828764],
       [11395.63055992],
       [ 6248.83935385],
       [ 8423.19721152],
       [27360.73273479],
       [33843.62542848],
       [14432.50562897],
       [11759.04359894],
       [32070.2132407 ],
       [ 4152.83526684],
       [ 9364.57488075],
       [ 1227.5561631 ],
       [ 9712.31328139],
       [ 3714.56843696],
       [10585.88359557],
       [ 9162.47300707],
       [39963.69536536],
       [15580.1455371 ],
       [13795.75096539],
       [24960.11670118],
       [ 5274.13784945],
       [12507.41956494],
       [30840.51073591],
       [33738.39701967],
       [ 3693.97640602],
       [ 4083.679354  ],
       [ 3960.78010537],
       [30688.77955811],
       [39647.57881672],
       [27822.13821979],
       [ 5297.22284982],
       [10490.69035982],
       [ 8000.03303241],
       [ 3721.57055488],
       [10074.13524545],
       [ 5834.48592072],
       [ 3655.97278651],
       [33043.86058963],
       [38550.26073255],
       [15858.08435828],
       [ 7288.48878169],
       [ 5703.38341826],
       [ 9590.69948854],
       [ 8867.40056079],
       [11837.84431982],
       [ 1923.92229602],
       [39063.95684316],
       [14765.28155823],
       [11762.93408998],
       [14123.71276572],
       [13957.34599256],
       [25885.79486405],
       [32480.77895206],
       [  814.28218471],
       [10346.2032403 ],
       [12250.40022773],
       [11407.25345172],
       [25364.07951761],
       [15422.36343888],
       [11287.37791341],
       [12652.04892671],
       [ 6544.93054826],
       [ 9514.05561162],
       [30332.45726728],
       [39062.2012877 ],
       [12063.06190179],
       [37192.26604341],
       [ 4486.23138255],
       [ 9370.03651263],
       [34981.28905104],
       [28872.68538793],
       [ 8670.10336815],
       [ 5138.54479015],
       [11972.26507827],
       [30531.97480614],
       [10172.41294539],
       [11329.35500831],
       [ 8487.88718807],
       [ 8797.71595949],
       [ 8536.09601948],
       [ 7419.85713648],
       [36116.05721784],
       [33218.71868929],
       [ 7830.40732204],
       [15045.79334634],
       [ 3999.69832627],
       [ 9000.51237981],
       [ 6268.27398444],
       [31531.56146053],
       [33206.00811521],
       [ 2177.45152033],
       [ 8979.79247894],
       [ 6860.45043613],
       [14603.07347626],
       [37203.29677137],
       [10258.20025839],
       [10521.43085883],
       [10342.58889465],
       [27208.72358336],
       [39793.35489263],
       [ 8572.05334331],
       [  383.19995261],
       [ 8978.71508972],
       [15171.91388745],
       [ 9695.08991651],
       [35122.54463332],
       [ 7386.36940826],
       [16833.76924798],
       [ 9780.36133572],
       [ 8206.72008448],
       [ 3150.56180887],
       [33023.9576962 ],
       [31709.44883314],
       [39569.70370315],
       [ 5819.2388215 ],
       [ 9207.49139829],
       [ 3594.44051439],
       [ 7557.66601071],
       [ 8704.130514  ],
       [31767.32756312],
       [30032.74793918],
       [29769.4990372 ],
       [ 8618.63353832],
       [32363.52085189],
       [ 3595.4377035 ],
       [ 3909.33767121],
       [11253.08161641],
       [13037.90009357],
       [12905.87475441],
       [ 5650.52090296],
       [15379.21442612],
       [14753.98075861],
       [ 2631.20797192],
       [  284.48714214],
       [10910.02278107],
       [ 7495.92629467],
       [31846.57729011],
       [12439.31617335],
       [ 2347.91066581],
       [ 6666.11780163],
       [ 7764.66912604],
       [ 4675.13961172],
       [ 2127.93481018],
       [11474.0151399 ],
       [12655.01342743],
       [ 7415.08219308],
       [16212.02837622],
       [11888.97854889],
       [14037.26841524],
       [ 3304.71318104],
       [ 7455.13467347],
       [23234.20251169],
       [ 7705.83742345],
       [ 5631.47170518],
       [ 5155.40902529],
       [ 6969.71464754],
       [ 5354.89227216],
       [10135.64264959],
       [ 5349.72973251],
       [ 5785.05540196],
       [ 6635.4840481 ],
       [ 3866.72227914],
       [ 5761.40665512],
       [38158.33828783],
       [ 1683.97474941],
       [12735.30690712],
       [ 9153.53309613],
       [13874.81969242],
       [ 5366.93326467],
       [ 5335.97185632],
       [36537.26807814],
       [ 4552.71155087],
       [ 2086.59471242],
       [15264.3264118 ],
       [12716.25770934],
       [35245.2548735 ],
       [ 4741.41573532],
       [ 5672.22825825],
       [31197.08652051],
       [ 6408.22584642],
       [ 2208.12235869],
       [ 8556.15716517],
       [10137.59635141],
       [ 7961.53224662],
       [ 6008.27621562],
       [13176.50948513],
       [38352.50783395],
       [13834.05839613],
       [28975.77875494],
       [ 6995.0710336 ],
       [35445.43840901],
       [ 3939.50886974],
       [11767.38703727],
       [ 8972.56758879],
       [ 6231.88873332],
       [11495.7268554 ],
       [14545.53360188],
       [ 5369.0676865 ],
       [ 4477.76246538],
       [ 7902.81254894],
       [ 1408.21015639],
       [ 7988.3022048 ],
       [ 4535.35332182],
       [12742.05951261],
       [ 4363.35283569],
       [10089.24220844],
       [ 7300.65190624],
       [ 9231.73028826],
       [ 2535.207216  ],
       [13133.09792315],
       [16924.07543401],
       [14775.7019177 ],
       [10500.0535906 ],
       [ 5265.70669635],
       [ 2226.91874092],
       [ 1942.35954852],
       [13563.29488347],
       [13871.81528745],
       [ 5181.04224028],
       [ 3710.34411545],
       [ 9478.23526209],
       [10029.11076688],
       [28487.9940125 ],
       [ 7762.49489788],
       [10518.88389627],
       [ 6296.92323115],
       [30140.72703053],
       [11098.12626929],
       [ 7576.21977436],
       [10401.14033393],
       [12366.52919975],
       [ 3192.20588811],
       [10991.61973466],
       [ 1689.76125771],
       [ 7151.43405448],
       [28443.15403614],
       [38624.93955237],
       [ 6379.28377021],
       [ 8118.60317651],
       [ 2683.93379983],
       [  639.08943517],
       [10536.57514098],
       [ 4165.51767495],
       [ 5200.74089999],
       [ 2312.93290459],
       [ 6760.13309472],
       [33397.58307294],
       [38310.40679323],
       [14825.20670057],
       [ 8446.47111382],
       [16157.7232546 ],
       [32883.85788865],
       [ 9571.59093679],
       [33651.93864121],
       [ 3372.20261012],
       [30977.13462084],
       [ 8226.75636218],
       [14208.78118882],
       [ 4334.71349904],
       [32230.41371867],
       [ 8490.09883679],
       [11100.97310023],
       [ 8964.41574831],
       [ 4523.1304603 ],
       [12609.11023502],
       [11831.95897148],
       [ 8722.92138189],
       [13361.90220869],
       [ 3000.56571324],
       [10770.49807526],
       [ 5584.3590919 ],
       [10786.54038437],
       [31738.38046179],
       [ 9848.52408129],
       [ 1462.33241003],
       [  788.95636585],
       [39945.71215423],
       [ 9785.914906  ],
       [ 7356.53037079],
       [14087.36392686],
       [13458.32480455],
       [27467.78950831],
       [ 7172.78189703],
       [ 6968.50425704],
       [12178.3638989 ],
       [ 3229.16393683],
       [ 3657.05510794],
       [25236.63678023],
       [26040.61668601],
       [12862.46482666],
       [ 3466.70283736],
       [ 4818.96534204],
       [ 9354.56280485],
       [12563.88645494],
       [23839.16222875],
       [31083.37421155],
       [10139.05715622],
       [24399.63908197],
       [ 3184.23767301],
       [11295.28383998],
       [ 7301.31137431],
       [ 8323.52275598],
       [   40.42623033],
       [ 7906.11476025],
       [35912.68544936],
       [ 6373.77173841],
       [ 6454.06521811],
       [  524.52960038],
       [10496.8769542 ],
       [ 6477.23937265],
       [ 9478.78454498],
       [38966.15272209],
       [27988.83010317],
       [11622.38000377],
       [35376.92108292],
       [15034.10664745],
       [ 7121.72379896],
       [10602.9308927 ],
       [ 7050.86479611],
       [36872.2997274 ]])

Evaluation Metrices are given below:

1. Mean Absolute Error (MAE)

2. Mean Squared Error (MSE)

3. R-Squared Error

In machine learning, absolute error refers to the magnitude of difference between the prediction of an observation and the true value of that observation. MAE takes the average of absolute errors for a group of predictions and observations as a measurement of the magnitude of errors for the entire group.

Mean squared error (MSE) is the average of sum of squared difference between actual value and the predicted or estimated value. It is also termed as mean squared deviation (MSD).

R-Squared is the ratio of Sum of Squares Regression (SSR) and Sum of Squares Total (SST). Sum of Squares Regression is amount of variance explained by the regression line. R-squared value is used to measure the goodness of fit. Greater the value of R-Squared, better is the regression model.

In [ ]:
from sklearn.metrics import mean_absolute_error

# MAE

mean_absolute_error(y_test, y_pred)

4012.715276853087

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

32135747.239381798

In [ ]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.7958786376014413

So, r squared is 0.796 for multiple linear regression algorithm.

### Support Vector Regression

SVM or Support Vector Machine is a linear model for classification and regression problems. The idea of SVM is simple: The algorithm creates a line or a hyperplane which separates the data into classes.

In [ ]:
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train_new = X_sc.fit_transform(X_train[['age','bmi','children','smoker_no', 'smoker_yes','sex_female', 'sex_male','region_northeast', 'region_northwest','region_southeast', 'region_southwest']])
X_test_new = X_sc.transform(X_test[['age','bmi','children','smoker_no', 'smoker_yes','sex_female', 'sex_male','region_northeast', 'region_northwest','region_southeast', 'region_southwest']])
y_train_new = y_sc.fit_transform(y_train[['charges']])
y_test_new = y_sc.transform(y_test[['charges']])

In [ ]:

# Fitting SVR to the dataset
from sklearn.svm import SVR 
regressor = SVR(kernel = 'linear')
regressor.fit(X_train_new,y_train_new)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test_new)

In [ ]:
mean_absolute_error(y_test_new, y_pred)

0.2722126001092648

In [ ]:
mean_squared_error(y_test_new, y_pred)

0.2708450958795668

In [ ]:
r2_score(y_test_new, y_pred)

0.7541715424584545

So, r squared is 0.754 for Support Vector Regression alogorithm.

### Decision Tree Regression
Decision tree builds regression or classification models in the form of a tree structure. It breaks down a dataset into smaller and smaller subsets while at the same time an associated decision tree is incrementally developed. The final result is a tree with decision nodes and leaf nodes.

In [ ]:
# Fitting the decision tree regression with the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
mean_absolute_error(y_test, y_pred)

3021.131019817911

In [ ]:
mean_squared_error(y_test, y_pred)

43846928.819191664

In [ ]:
r2_score(y_test, y_pred)

0.7214909993878144

So, r squared is 0.72 for Decision tree regression algorithm.

### Random Forest Regression
Random Forest Regression is a supervised learning algorithm that uses ensemble learning method for regression. A Random Forest operates by constructing several decision trees during training time and outputting the mean of the classes as the prediction of all the trees.

In [ ]:
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
mean_absolute_error(y_test, y_pred)

2763.557355874627

In [ ]:
mean_squared_error(y_test, y_pred)

21805383.963926636

In [ ]:
r2_score(y_test, y_pred)

0.8614955286651672

R squared = 0.796 (Multiple linear regression)

R squared = 0.754 (Support vector regression)

R squared = 0.72 (Decision tree regression)

R squared = 0.86 (Random forest Regression)

Thus, Random forest regression can predict the insurance more accurately rather than other regression algorithms. As greater the value of R-Squared, better is the regression model. So, it can be said that the performance of random forest regression is better than other algoritms for this dataset.